@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
	position: relative;
}

.banner {
	position: relative;
	margin-right: 0;
}

.image {
	width: 100%;
	padding-top: 0;
}

h1 {
	font-size: 2.4em;
	font-family: 'Fugaz One', cursive;
	color: #bfe7f2;
	position: absolute;
	margin: 0;
	margin-left: 1.8em;
	top: 3em;
	left: 0;
	}

nav {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 4rem;
	height: 100%;
	background: rgba(0,0,0,0.6);
}

img {
	width: 4rem;
	display: block;
	margin: 0;
	padding-top: 21px;
}

p {
	margin-bottom: 0;
}

.text-banner {
	line-height: 21px;
	margin-left: 4.65rem;
	margin-top: 0;
	margin-bottom: 0;
}

@media only screen and (min-width: 48em) {

	h1 {
		font-size: 4em;
		margin-left: 1.6em;
}

	.image {
		padding-left: 0;
	}

	nav {
		width: 5.525rem;
	}

	img {
		padding-left: 1.4rem;
		width: 5rem;
	}

	.text-banner {
		margin-left: 6.2em;
		margin-right: 1.4em;
	}

}

@media only screen and (min-width: 57em) {

	body {
		font-size: 120%;
	}

	img {
		width: 6rem;
	}


	nav {
		width: 8.5em;
	}

	h1 {
		top:0;
		margin-left: 3em;
	}

	p {
		margin-top: 0;
	}

	.text-banner {
		margin-top: 0;
		color: #fff;
		background: radial-gradient(rgba(0,0,0,.6), rgba(0,0,0,0));
		position: absolute;
		top: 6em;
		left: 6em;
		width: 50%;
		margin-left: 6em;
	}
}

@media print {

	body {
		width: 3.5in;
		height: 2in;
	}

	h1 {
		color: #fff;
		top: 2em;
		margin-left: .25in;
		font-size: 22pt;
	}

	h1::after {
		content: "emily.copp0013@gmail.com";
		display: block;
		font-size: 10pt;
		font-family: Arial;
	}

	p {
	display: none;
	}

	nav {
		display: none;
	}

}
