@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
}

h1 {
	font-size: 2.4em;
	font-family: 'Fugaz One', cursive;
	position: relative;
	}

nav {
	position: absolute;
	top: 0;
	float: left;
}

img {
	width: 53px;
	display: block;
	margin: 0;
	padding: 21px 0;
	background-color: #2c2c2c;
}

div {
	margin-left: 4rem;
	margin-right: .65rem;
}
p {
	line-height: 21px;
	position: relative;
}

@media only screen and (min-width: 48em) {

	body {
		font-size: 110%;
	}

	img {
		padding-left: 1.4rem;
		width: 66px;
	}

	div {
		margin-left: 5.5rem;
		margin-right: 1.4rem;
	}

}
